/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */
header {
  position: relative;
  // position: static;
  // width: 100%;
  // z-index: 9999;
  // height: auto;
}

/* -------------------------------------------------------------------------- */
/* TOP BAR */
/* -------------------------------------------------------------------------- */
.db__topbar {
  width: 100%;
  height: 30px;
  height: auto;
  background-color: $color-light;

  .db__containerish {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding: .2rem 1rem;

    @media screen and (min-width: 1400px) {
      padding: 0;
    }


    .db__topbar-link {
      font-family: $font-primary;
      font-size: 15px;
      font-weight: 300;
      color: $color-text-grey;

      &:hover {
        color: $color-main;
        text-decoration: none;
      }
    }

    .db__social-link {
      color: $color-text-grey;
      margin-right: 0.5rem;

      &:hover {
        color: $color-main;
        text-decoration: none;
      }

      p {
        display: inline-block;
        line-height: 0;
        margin: 0;
        margin-left: 0.2rem;
      }
    }

    .db__social-link:last-child {
      margin-right: 0 !important;
    }

    .db__col-left {
      grid-row: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        color: white;
        margin: 0 !important;
        margin-right: 0.5rem !important;
      }
    }

    .db__col-mid {
      display: none;
    }

    .db__col-right {
      display: none;
      // grid-row: 2;
      // display: flex;
      // align-items: center;
      // justify-content: center;
    }

    .db__topbar-link {
      margin-right: 1rem;
      // display: none;
    }

    .db__topbar-link:last-child {
      margin-right: 0 !important;
      display: inline-block;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------------------------- */
.navbar-wrapper {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  padding-bottom: .8rem;



  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .db__containerish {
    margin: 0 auto;
    height: auto;
    padding: 0 1rem;
    display: grid;
    grid-gap: 1rem;

    @media screen and (min-width: 1400px) {
      padding: 0;
    }
  }
}

.navbar {
  .nav-logo {
    max-width: 200px;
    // margin-top: 18px;
  }
}

.nav-item {
  margin-right: 1rem;

  // font-family: $font-primary !important;
  .nav-link {
    font-family: $font-primary !important;
    color: $color-dark;
    font-size: 1rem;
    font-style: normal;

    &:hover {
      color: $color-light-accent !important;
    }
  }
}

.nav-item .nav-link:last-child {
  padding-right: 0;
  padding-left: 0;
}

.nav-item.nav-divider {
  position: relative;

  &::after {
    content: "•";
    color: $color-dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
  }
}

.nav-item:last-child {
  margin-right: 0 !important;

  .nav-link {
    margin-right: 0;
  }
}

.dropdown-menu {
  background-color: rgba($color-white, .95);
  border-color: transparent;
  margin-top: 0 !important;
  padding-left: .5rem;

  .dropdown-item {
    padding-left: 0;
    font-family: $font-primary;
    font-size: 1rem;
    position: relative;
    color: $color-main;
    font-family: $font-primary;
    font-weight: 400;


    &:hover {
      background-color: transparent;
      color: $color-dark-accent;
    }

    &:focus {
      background: transparent;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dropdown-toggle::after {
  border: none !important;
  margin-left: 0 !important;
}