/* -------------------------------------------------------------------------- */
/* Typography */
/* -------------------------------------------------------------------------- */
@import "https://use.fontawesome.com/releases/v5.4.1/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap');

$font-primary: 'Open Sans',
sans-serif;
$font-secondary: 'Dancing Script',
cursive;

// General Font Setup
// Headers
h1,
h2,
h3,
h4,
h5 h6 {
  margin: 0 !important;
}

/* Primary Header */
h1 {
  //Not used on this project
  font-family: $font-secondary;
  font-size: 5.625rem; // 90px
  line-height: 5.625rem;
  font-weight: 700;

  &.is-italic {
    font-style: italic;
  }
}

h2 {
  font-family: $font-secondary;
  font-size: 4.375rem; // 70px
  line-height: 4.375rem;
  font-weight: 400;

  &.is-italic {
    font-style: italic;
  }
}

h3 {
  font-family: $font-secondary;
  font-size: 3.75rem; // 60px
  line-height: 3.75rem;
  font-weight: 500;
}

h4 {
  //Used in event section
  font-family: $font-secondary;
  font-size: 3.125rem; // 50px
  line-height: 3.125rem;
  font-weight: 400;
}

h5 {
  //Used in event section
  font-family: $font-primary;
  font-size: 1.875rem; // 40px
  line-height: 1.875rem;
  font-weight: 300;

  &.is-italic {
    font-style: italic;
  }

  &.is-bold {
    font-weight: 700;
  }
}

/* All Other Headers */
h6 {
  font-family: $font-secondary;
  font-weight: 400;
}


//Body Text
.db__body-copy {
  font-size: 1.25rem; // 20px
  line-height: calc(1.25rem * 1.5);
  font-family: $font-primary;
  font-weight: 300;

  &.is-bold {
    font-weight: 700;
  }
}

/* Lead Text (hero) */
.lead-copy {
  font-size: 1.25rem; // 16px
  line-height: calc(1.25rem * 1.5);
  font-family: $font-primary;
  font-weight: 300;
}

/* Footer2 Text */
.db__small-copy {
  font-weight: 300;
  font-size: 12px;
  line-height: calc(12px * 1.5);
  font-family: $font-primary;

  &.is-semibold {
    font-weight: 600;
  }

  &.is-bold {
    font-weight: 700;
  }
}

.db__models-text {
  font-family: $font-primary;
  font-size: 9px;
  line-height: 0;
  color: $color-white;
  opacity: .4;
  position: absolute;
  bottom: 2%;
  right: 2%;
  padding: 0;
  margin: 0;
  font-variant-caps: all-small-caps;
  z-index: 999;
}

/* Text Modifiers */
.db__wrap-75 {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

input {
  font-family: $font-primary;
  font-weight: 300;
}




// Font Size Breakpoints
@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem !important;
  }

  h2 {
    font-size: 2.5rem;
  }

  h1 {
    line-height: 4rem;
  }

  h2 {
    line-height: 2rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2rem;
  }
}